absl-py==1.0.0
affine==2.3.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0
appdirs==1.4.4
arcgis==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
astro-reduce==4.1.0
astropy==5.0.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
basemap==1.3.2
basemap-data==1.3.2
black==22.1.0
bleach==4.1.0
branca==0.4.2
brotlipy==0.7.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
cmocean==2.0
colorama==0.4.4
colorspacious==1.1.2
contextily==1.2.0
cryptography==36.0.1
cycler==0.11.0
cytoolz==0.11.2
dask==2022.2.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Django==4.0
earthpy==0.9.4
entrypoints==0.4
executing==0.8.2
Fiona==1.8.21
flatbuffers==2.0
flit_core==3.6.0
folium==0.12.1.post1
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2022.1.0
gast==0.4.0
GDAL==3.4.1
geographiclib==1.52
geomet==0.3.0
geopandas==0.10.2
geopy==2.2.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.42.0
gssapi==1.7.3
h5py==3.6.0
idna==3.3
image==1.5.33
imagecodecs==2021.11.20
imageio==2.16.0
importlib-metadata==4.11.1
importlib-resources==5.4.0
imutils==0.5.4
ipykernel==6.9.1
ipyleaflet==0.15.0
ipympl==0.8.2
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-server==1.13.5
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
keras==2.7.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
keyring==21.7.0
kiwisolver==1.3.2
lerc==0.1.0
libclang==12.0.0
locket==0.2.0
lxml==4.7.1
mapclassify==2.4.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mercantile==1.2.1
mistune==0.8.4
multidict==6.0.2
munch==2.5.0
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic==0.3.5
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
notebook==6.4.8
ntlm-auth==1.5.0
numpy==1.22.2
oauthlib==3.1.1
olefile==0.46
opencv-python==4.5.4.60
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pathspec==0.9.0
pickleshare==0.7.5
Pillow==9.0.1
pip==22.0.3
platformdirs==2.5.0
pooch==1.6.0
prometheus-client==0.13.1
prompt-toolkit==3.0.27
protobuf==3.19.1
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyerfa==2.0.0.1
pygame==2.1.0
pygame-2048==1.9.4
Pygments==2.11.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
pypiwin32==223
pyproj==3.3.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyrsistent==0.18.1
pyshp==2.1.3
PySimpleGUI==4.55.1
PySocks==1.7.1
pyspnego==0.4.0
pystackreg==0.2.5
python-certifi-win32==1.6
python-dateutil==2.8.2
pytz==2021.3
pyvista==0.33.2
PyWavelets==1.2.0
pywin32==303
pywin32-ctypes==0.2.0
pywinpty==1.1.6
PyYAML==6.0
pyzmq==22.3.0
rasterio==1.2.10
rasterstats==0.16.0
requests==2.27.1
requests-gssapi==1.2.3
requests-kerberos==0.14.0
requests-negotiate-sspi==0.5.2
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rioxarray==0.9.0
rsa==4.8
Rtree==0.9.7
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.8.0
scooby==0.5.11
seaborn==0.11.2
Send2Trash==1.8.0
setuptools==60.9.2
setuptools-scm==6.4.2
Shapely==1.8.0
simplejson==3.17.6
simplekml==1.3.6
six==1.15.0
sniffio==1.2.0
snuggs==1.4.7
soupsieve==2.3.1
sqlparse==0.4.2
stack-data==0.2.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
tifffile==2022.2.9
tifftools==1.2.9
tomli==2.0.1
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
traittypes==0.2.1
typing_extensions==4.0.1
tzdata==2021.5
ujson==5.1.0
unicodedata2==14.0.0
urllib3==1.25.11
vtk==9.1.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
wheel==0.37.1
widgetsnbextension==3.5.2
win-inet-pton==1.1.0
winkerberos==0.8.0
wrapt==1.13.3
wslink==1.4.1
xarray==0.20.2
xyzservices==2022.2.0
yarl==1.7.2
zipp==3.7.0
